button {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.details {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

:host /deep/ .row:nth-child(even){
  background-color: #dcdcdc;
}
:host /deep/ .row:nth-child(odd){
  background-color: #aaaaaa;
}

:host /deep/ .row {
    padding: 10px;
}

:host /deep/.display-cell {
    min-height: 30px;
    min-width: 30px;
}
