<table class="table table-bordered">
    <thead>
        <tr class="table-header">
            <th *ngFor="let column of columns">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of data | async">
            <td *ngFor="let column of columns">
                <data-table-cell 
                                 [dataItem]="dataItem" 
                                 [field]="column.field" 
                                 [dataType]="column.dataType"
                                 [editable]="column.editable"
                                 [command]="column.command"
                                 [onDelete]="onDelete">
                </data-table-cell>
            </td>
        </tr>
    </tbody>
</table>