<table class="table table-bordered">
    <thead>
        <tr class="table-header">
            <th *ngFor="let column of columns">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-table-row *ngFor="let dataItem of data | async" #row
            (click)="row.onClick()"
            [ngClass]="{'active': row.selected }"
            [columns]="columns"
            [dataItem]="dataItem"
            [dataTableContext]="context"
            >
        </tr>
    </tbody>
</table>